body {
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-weight: normal;
}

p {
    margin-bottom: 24px;
    color: chartreuse;
}